<section>
     <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Add Product</h2>
            
<form action="/admin/add-products" method="POST" enctype="multipart/form-data">
   
  
    <label for="exampleInputEmail1">name</label>
    <input type="text" class="form-control" name="name" aria-describedby="emailHelp">
     <label for="">Author</label>
    <input type="text" class="form-control" name="Author">
    <label for="">category</label>
    <input type="text" class="form-control" name="catogary">
    <label for="">price</label>
    <input type="number" class="form-control" name="price">
    <label for="">describtion</label>
    <input type="text" class="form-control" name="describtion">
    <label for="">image</label>
    <input type="file" class="form-control" name="image">
  <button type="submit" class="btn btn-primary">Submit</button>
  
</form>
 </div>
 </div>
 </div>
</section>